<button
  class="button {{buttonClass}}"
  {{#if buttonClick}}onclick="{{buttonClick}}"{{/if}}
  type="{{#if buttonType}}{{buttonType}}{{else}}button{{/if}}"
  {{#if disabled}}disabled{{/if}}
>{{buttonText}}</button>
