
  {{!-- <section class="threadManage"> --}}
{{!--     <header>
      {{{TopBar}}}
    </header>

     <header>
        <h2 class="heading">Thread title</h2>
      </header>
 --}}
{{!--     <article class="title_container">

      <div class="titleContainer">
        {{{ThreadTitleForm}}}
      </div>
    </article> --}}



    <article class="members_container">


        <div class="logoContainer">
          {{{AvatarForm}}}
        </div>

        <div class="searchContainer">
          {{{FindUserForm}}}
        </div>
    </article>

      <section class="threadMembersContainer">
        {{#if ThreadMembers}}
          <h2 class="heading">Thread members</h2>
            <ul class="threadMembersList">
              {{{ThreadMembers}}}
            </ul>
        {{/if}}
        {{#if FoundUsers}}
        <h3 class="heading">Found users</h3>
        <ul class="threadMembersList">
          {{{FoundUsers}}}
        </ul>
        {{/if}}
    </section>

    {{{ButtonLeaveThread}}}

    {{!-- {{> modalConfirm }} --}}
    </article>
  {{!-- </section> --}}
