
  <section class="profile">
    <header>
      {{{TopBar}}}

      <div class="avatarContainer">
        {{{Avatar}}}
      </div>

      {{{Login}}}
      {{!-- <h3 class="heading_login">{{login}}</h3> --}}
    </header>

    <div class="inputsContainer">
      {{{Form}}}
    </div>

  </section>
