<img class="avatar avatar_thread" src="{{avatar}}" alt={{title}} />
<div class="threadListItem_preview">
  <div class="threadListItem_preview_title">{{title}}</div>

{{!--
  {{#if last_messageContent}}
    <div>{{last_messageUserLogin}}: {{last_messageContent}}</div>
  {{/if}}
   --}}

</div>
