<header>
  {{{TopBar}}}
</header>

{{{content}}}

{{{SendBar}}}
{{!-- <section class="messages_container">
  <div class="messages">
    {{#if Messages}}
    {{{Messages}}}
    {{else}}
    no messages
    {{/if}}
  </div>

{{{SendBar}}}
</section> --}}
