{{!-- threadsLayout --}}

{{!-- <div class="threadsPage_container leftPanelLayout_container"> --}}

  <section class="leftPanel_container">
    <header>
      {{{topBar}}}
      {{{search}}}
    </header>

    <ul class="threadList">
      {{#if threads}}
          {{!-- <li>{{> threadListItem title=this.threadTitle preview=this.threadPreview active=this.active}}</li> --}}
          {{{threads}}}
        {{else }}
          <span class="threadList__empty_message">{{{noThreadsMessage}}}</span>
      {{/if}}
    </ul>

    {{{button}}}
  </section>

  <section class="rightPanel_container">

  <article class="rightPanel_content {{#unless content}}threadList__noActive{{/unless}}">
    {{#if content}}
      {{{content}}}
    {{else}}
      <span>{{{noContentMessage}}}</span>
    {{/if}}
  </article>

  </section>

{{!-- </div> --}}
