{{#if text}}
<div
  class="message
    {{#if isOutgoing}}
      message__outgoing
    {{else}}
      message__incoming
    {{/if}}"
>

<div class ="message_sender">

    {{#if isOutgoing}}
    Me:
{{else}}
{{sender}}:
{{/if}}
</div>

  <div class="message_content">
    {{text}}
  </div>

  {{#if attachments}}
    <div class="message_attachment message_attachment__images">
      {{{attachments}}}
    </div>
  {{/if}}

  <div class="message_timestamp">
    {{ time }}
  </div>

</div>
{{/if}}



{{!--   <div class="message_sender">
    {{#if isOutgoing}}
      {{{sender}}}:
    {{else}}
      Me:
    {{/if}}
  </div> --}}
